/*Home css*/
#home {
    padding-top: 5%;
    text-align: justify;
    background-color: var(--bg-color);
}

.left{
    box-shadow: 10px 10px 20px 5px var(--shadow-color);
}

#home h2 {
    color: var(--main-heading);
}

#home p {
    color: var(--text-color);
}