#projects {
    margin-top: 15%;
    background-color: var(--bg-color);
}

#projects h2{
    color: var(--main-heading);
}

a:hover {
    text-decoration: underline;
}

.project-title{
    background-color: var(--bg-color);
    color: var(--main-heading);
}

/*Flip card*/
.flip-card {
    background-color: transparent;
    width: 270px;
    height: 300px;
    perspective: 1000px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 10px 10px 20px 5px var(--shadow-color);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.flip-card-back {
    background-color: var(--bg-color);
    color: var(--text-color);
    transform: rotateY(180deg);
    font-size: 14px;
    cursor: default;
}