#skills{
    background-color: var(--bg-color);
    color: var(--text-color);

    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
}
