#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.light{
  --main-heading: #000;
  --text-color: #000;
  --btn-color: #5f99be;
  --btn-text: #fff;
  --bg-color: #fff;

}

.dark{
  --main-heading: #5f99be;
  --text-color: #fff;
  --btn-color: #5f99be;
  --btn-text: #fff;
  --bg-color: #1a1a1a;
}